<extend name="Layout/Back" />

<block name="content" >

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{:U('add')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                    </a>

                    <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="('input[name*=\'selected\']:checked').size()>0 && confirm('确认？') ? $('#form-Goods').submit() : false;"> <i class="fa fa-trash-o"></i>
                    </button>

                </div>
                <h1>商品管理</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{U('Manage/index')}">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">商品列表</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        商品列表
                    </h3>
                </div>
                <div class="panel-body">
                    <!-- <form action="{:U('list')}" method="GET">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="input-field">搜索字段标题</label>
                                    <input type="text" name="filter_field" value="{$filter['filter_field']}" placeholder="搜索字段标题" id="input-field" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" id="button-filter" class="btn btn-primary pull-right">
                                    <i class="fa fa-search"></i>
                                    筛选
                            </button>
                            </div>
                        </div>
                    </div>
                    </form> -->

                    <form action="{:U('multi')}" method="post" enctype="multipart/form-data" id="form-Goods">
                        <input type="hidden" id="input-operate_type" name="operate_type" value="">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center">
                                            <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                                        </td>                         
                                                                                
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'goods_id' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'goods_id', 'type'=>'desc'])}" class="asc">goods_id</a>
                                        <elseif condition="$order['field'] eq 'goods_id' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'goods_id', 'type'=>'asc'])}" class="desc">goods_id</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'goods_id', 'type'=>'asc'])}" class="">goods_id</a>
                                        </if>
                                        </td>
                                                                                
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'name' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'name', 'type'=>'desc'])}" class="asc">name</a>
                                        <elseif condition="$order['field'] eq 'name' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'name', 'type'=>'asc'])}" class="desc">name</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'name', 'type'=>'asc'])}" class="">name</a>
                                        </if>
                                        </td>
                                                                               
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'image_thumb' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'image_thumb', 'type'=>'desc'])}" class="asc">image_thumb</a>
                                        <elseif condition="$order['field'] eq 'image_thumb' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'image_thumb', 'type'=>'asc'])}" class="desc">image_thumb</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'image_thumb', 'type'=>'asc'])}" class="">image_thumb</a>
                                        </if>
                                        </td>
                                                                                                                    
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'UPC' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'UPC', 'type'=>'desc'])}" class="asc">UPC</a>
                                        <elseif condition="$order['field'] eq 'UPC' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'UPC', 'type'=>'asc'])}" class="desc">UPC</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'UPC', 'type'=>'asc'])}" class="">UPC</a>
                                        </if>
                                        </td>
                                                                                
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'price' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'price', 'type'=>'desc'])}" class="asc">price</a>
                                        <elseif condition="$order['field'] eq 'price' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'price', 'type'=>'asc'])}" class="desc">price</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'price', 'type'=>'asc'])}" class="">price</a>
                                        </if>
                                        </td>
                                                                                
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'quantity' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'quantity', 'type'=>'desc'])}" class="asc">quantity</a>
                                        <elseif condition="$order['field'] eq 'quantity' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'quantity', 'type'=>'asc'])}" class="desc">quantity</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'quantity', 'type'=>'asc'])}" class="">quantity</a>
                                        </if>
                                        </td>
                                                                                                                      
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'status' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'status', 'type'=>'desc'])}" class="asc">status</a>
                                        <elseif condition="$order['field'] eq 'status' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'status', 'type'=>'asc'])}" class="desc">status</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'status', 'type'=>'asc'])}" class="">status</a>
                                        </if>
                                        </td>
                                                                                
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'sort_number' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'sort_number', 'type'=>'desc'])}" class="asc">sort_number</a>
                                        <elseif condition="$order['field'] eq 'sort_number' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'sort_number', 'type'=>'asc'])}" class="desc">sort_number</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'sort_number', 'type'=>'asc'])}" class="">sort_number</a>
                                        </if>
                                        </td>
                                                                                
                                                                                                                      
                                        <td class="text-left">
                                        <if condition="$order['field'] eq 'stock_status_id' AND $order['type'] eq 'asc'">
                                            <a href="{:U('list', $filter+['field'=>'stock_status_id', 'type'=>'desc'])}" class="asc">stock_status_id</a>
                                        <elseif condition="$order['field'] eq 'stock_status_id' AND $order['type'] eq 'desc'" />
                                            <a href="{:U('list', $filter+['field'=>'stock_status_id', 'type'=>'asc'])}" class="desc">stock_status_id</a>
                                        <else />
                                            <a href="{:U('list', $filter+['field'=>'stock_status_id', 'type'=>'asc'])}" class="">stock_status_id</a>
                                        </if>
                                        </td>
                                                                                
                                                                                
                                        <td class="text-right">管理</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="rows" id="row">
                                        <tr>
                                            <td class="text-center">
                                                <input type="checkbox" name="selected[]" value="{$row['goods_id']}" />
                                            </td>

                                            <td class="text-left">{$row['goods_id']}</td>

                                            <td class="text-left">{$row['name']}</td>

                                            <td class="text-left">{$row['image_thumb']}</td>

                                            <td class="text-left">{$row['upc']}</td>

                                            <td class="text-left">{$row['price']}</td>

                                            <td class="text-left">{$row['quantity']}</td>

                                            <td class="text-left">{$row['status']}</td>

                                            <td class="text-left">{$row['sort_number']}</td>
                                            <td class="text-left">{$row['stock_status_id']}</td>

                                            <td class="text-right">
                                                <a href="{:U('edit', ['goods_id'=>
                                                    $row['goods_id']])}" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                                    <i class="fa fa-pencil"></i>
                                                </a>

                                                 <a href="{:U('GoodsProduct/list', ['goods_id'=>
                                                    $row['goods_id']])}" data-toggle="tooltip" title="货品管理" class="btn btn-primary">
                                                    货
                                                </a>

                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">{$page_html}</div>
                </div>
            </div>
        </div>
    </div>
</block>