<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="__PUBLIC__/Test/Js/jquery.min.js"> </script>
</head>
<body>
    <input type="text" name="" id="input-keyword">
    <div class="div-suggest"></div>
    <script type="text/javascript">
        $('#input-keyword').bind('input',function (evt) {
            //console.log($(this).val());
            var url = '{:U('ajaxShow')}';
            var data = {
                'keyword': $(this).val(),
            };
            $.get(url,data,function (resp) {
                // 响应数据中包含两类数据：之一结果（是否有错误error,errorInfo），之二数据内容(rows)
                if (0 == resp.error) {
                    //没有错误解析
                    var suggest = $('#div-suggest');
                    suggest.empty();
                    for (var i=0; i<resp.rows.length; ++i) {
                        var item = resp.rows[i];
                        suggest.append(item +'<br>');
                    }
                } else {
                    console.log(resp.errorInfo);
                }
            }, 'json');
        });
    </script>
</body>
</html>