<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"></script>
</head>
<body>
    <h2>数据展示</h2>
    字符串：{$name} <br/>
    数组：{$user['name']},{$user['gender']} <br/>
    对象：{$student->name},{$student->gender} <br/>

    <h2>函数调用</h2>
    {:time()} <br/>
    {:U('/register')} <br/>
    {$now|date='Y-m-d H:i:s',###}

    <h2>条件分支</h2>
    {$score}:
    <if condition = "$score lt 60">
        D
    <elseif condition = "$score lt 75" />
        C
    <elseif condition = "$score lt 90" />
        B
    <else/>
        A
    </if>


    <h2>循环结构</h2>
    <!--foreach($user_list as $row)-->
    <volist name="user_list" id="row">
    {$i}:{$key}--{$row['name']},{$row['age']}<br/>
    </volist>
</body>
</html>